.tituloTeste, .textoTeste {
    font-family: 'Courier New', Courier, monospace;
    margin: 5% auto;
    font-weight: 900;
    color: rgb(30, 30, 154);
    background-color: paleturquoise;
    border-radius: 10px;
    padding: 10px;
}

.tituloTeste{
    width: 16%;
}

.textoTeste{
    width: 50%;
}

.formsTeste{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2% auto;
}

.formsTeste input{
    margin: 10px 0;
    padding: 15px;
    border-radius: 9px;
    border: 1px solid rgb(95, 163, 163);
    background-color: rgba(175, 238, 238, 0.678);
    /* box-shadow: 1px 1px 10px 1px rgb(95, 163, 163) inset; */
}

.formsTeste button{
    margin: 10px 0;
    padding: 10px;
    border-radius: 9px;
    border: none;
    background-color: rgb(137, 199, 199);
}